 /*--------------DEFAULT------------*/

 * {
 	margin: 0px;
 	padding: 0px;
 	box-sizing:border-box;
 }
 html {
 	font-family: 'Lato', sans-serif;
 	background-color: #FFFFFF;
 	color:#5a5a5a;
 	font-size:20px;
 	text-rendering: optimizeLegibility;
 }

/*--------------END DEFAULT-----------*/


header {
	background-image: linear-gradient(135deg,rgba(38, 80, 119,0.8)55%,rgba(45, 95, 93,0.85)) ,url(../img/background4.jpeg);
	background-size: cover;
	background-position:center;
	height: 100vh;
}
/*_________________RE USE_____________*/

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.logo {
	width: 350px;
	float: left;
	margin-top: -50px;
	margin-left: 100px;
  }


.main-menu-ul {
	float: right;
	margin-top: 50px;
	margin-right: 130px; 
}

.main-menu-li {
	float: left;
	list-style: none;
	padding: 6px 24px;

}

.heading-main-1 {
	width: 1140px;
	margin: 0px auto;
}

.heading-main-1 h1 {
	letter-spacing: 2px;
	line-height: 135%;
	font-size: 300%;
	color: white;
	margin-bottom: 50px; 
}

.heading-main-1 a {
	text-decoration: none;
	margin: 0px 5px;
	padding: 10px 10px;
	background-color: #ff9900;
	border-radius: 20px;
	color: white;
	text-align: center;
	width: 190px;
	display: inline-block;
	
}
.heading-main-1 a:hover , .heading-main-1 a active {
	background-color: #e68a00;
}



.main-menu-li a {
	text-decoration: none;
	color: white;
	padding-bottom: 10px;
}

.main-menu-li a:hover , .main-menu-li a active {
	border-bottom: 2px solid white; 
	color: orange;
}

.p-about-section {
	text-align: center;
	color:#265077;
}


/*------------About Section----------*/
.heading-all {
	color: #ffa31a;
	text-align: center;
	border-top: 10px solid  #ffa31a;
	padding-top: 70px; 
}
.about-section {
	padding-top: 0px;
	height: 100vh;
}

.img-about-section {
	width: 90%;
	border: 5px solid #1e4258;
	border-radius: 20px;
}


